.title {
  font-size: max(2vw, 24px);
  line-height: 1.1;
  padding-bottom: .0em;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

.text {
  /*font-size: max(1vw, 17px);*/
  font-size: 17px;
  line-height: 1.4;
  overflow: hidden;
  padding-bottom: 0px;
  color: rgba(255, 255, 255, 0.7);
}

.accordions {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*padding-bottom: 20vh;*/
}

.accordion {
  background: linear-gradient(200deg, rgb(26, 125, 218) 13.57%, rgb(90, 54, 192) 98.38%);
  /* width: max(50vw, 280px); */
  padding: 15px 30px 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  /* box-shadow: 0 30px 30px -10px rgba(0, 0, 0, .3); */
}

.accordion:nth-child(2) {
  background: linear-gradient(200deg, rgb(231, 131, 128) 13.57%, rgb(233, 79, 102) 98.38%);
}

.accordion:nth-child(3) {
  background: linear-gradient(200deg, rgb(91, 169, 107) 13.57%, rgb(70, 111, 171) 98.38%);
}

.accordion:nth-child(4) {
  background: linear-gradient(200deg, #c215d1 13.57%, #8d1196 98.38%);
}

.accordion:nth-child(5) {
  background: linear-gradient(200deg, rgb(26, 125, 218) 13.57%, rgb(90, 54, 192) 98.38%);
}

.accordion:nth-child(6) {
  background: linear-gradient(200deg, rgba(228, 138, 21, 0.708) 13.57%, rgb(216, 119, 74) 98.38%);
}

.accordion:nth-child(7) {
  background: linear-gradient(200deg, rgb(91, 169, 107) 13.57%, rgb(70, 111, 171) 98.38%);
}

.accordion:nth-child(8) { /* Assuming you meant to target the 8th child here */
  background: linear-gradient(200deg, #c215d1 13.57%, #8d1196 98.38%);
}


.spacer {
  height: 70vh;
}


@media (min-width: 1034px) {
  .accordion {
    height: 65px;
  }
}

@media (min-width: 997px) and (max-width: 1033px) {
  .accordion {
    height: 85px;
  }
}

@media (min-width: 549px) and (max-width: 996px) {
  .accordion {
    height: 65px;
  }
}

@media (min-width: 481px) and (max-width: 548px) {
  .accordion {
    height: 85px;
    font-size: 27px;
  }
}

@media (max-width: 480px) {
  .accordions {
    padding:0px;
    /*width: 100vw;*/
    
  }
  .accordion {
    padding: 5px 5px 15px 10px;
    height: 80px;
  }
  .title {
    font-size: 20px;
  }
  .text {
    font-size: 19px;
  }
}